/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

h1, .h1, h2, .h2, h3, .h3 {
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

pre {
  overflow: auto;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  border: 1px solid #ddd;
}

mat-expansion-panel.result {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mat-expansion-panel-header {
  padding: 20px;
}
