go 1.19

use (
	./api
	./cmd/config
	./cmd/config/internal/commands/e2e/e2econtainerconfig
	./cmd/depprobcheck
	./cmd/gorepomod
	./cmd/k8scopy
	./cmd/mdtogo
	./cmd/pluginator
	./functions/examples/application-cr/image
	./functions/examples/injection-tshirt-sizes/image
	./functions/examples/template-go-nginx/image
	./functions/examples/validator-kubeval/image
	./functions/examples/validator-resource-requests/image
	./kustomize
	./kyaml
	./plugin/builtin/annotationstransformer
	./plugin/builtin/configmapgenerator
	./plugin/builtin/hashtransformer
	./plugin/builtin/helmchartinflationgenerator
	./plugin/builtin/iampolicygenerator
	./plugin/builtin/imagetagtransformer
	./plugin/builtin/labeltransformer
	./plugin/builtin/legacyordertransformer
	./plugin/builtin/namespacetransformer
	./plugin/builtin/patchjson6902transformer
	./plugin/builtin/patchstrategicmergetransformer
	./plugin/builtin/patchtransformer
	./plugin/builtin/prefixtransformer
	./plugin/builtin/replacementtransformer
	./plugin/builtin/replicacounttransformer
	./plugin/builtin/secretgenerator
	./plugin/builtin/suffixtransformer
	./plugin/builtin/valueaddtransformer
	./plugin/someteam.example.com/v1/bashedconfigmap
	./plugin/someteam.example.com/v1/calvinduplicator
	./plugin/someteam.example.com/v1/dateprefixer
	./plugin/someteam.example.com/v1/printpluginenv
	./plugin/someteam.example.com/v1/secretsfromdatabase
	./plugin/someteam.example.com/v1/sedtransformer
	./plugin/someteam.example.com/v1/someservicegenerator
	./plugin/someteam.example.com/v1/starlarkmixer
	./plugin/someteam.example.com/v1/stringprefixer
	./plugin/someteam.example.com/v1/validator
	./plugin/untested/v1/gogetter
)
