apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
spec:
  selector:
    custom-resource: v1alpha1.ESCluster
    custom-resource-name: esbasic
    custom-resource-namespace: default
    es/data: "true"
    using: escluster.Cluster
  ports:
  - protocol: "TCP"
    port: 9200
  type: LoadBalancer
  loadBalancerIP: ""
