name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  lint:
    name: Lint
    runs-on: [ubuntu-latest]
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Lint
      run: make lint

    - name: Verify boilerplate
      run: make check-license

  test-linux:
    name: Test Linux
    runs-on: [ubuntu-latest]
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Test kyaml
        run: go test -cover ./...
        working-directory: ./kyaml

      - name: Test api
        run: go test -cover ./... -ldflags "-X sigs.k8s.io/kustomize/api/provenance.version=v444.333.222"
        working-directory: ./api

      - name: Test cmd/config
        run: go test -cover ./...
        working-directory: ./cmd/config
        env:
          KUSTOMIZE_DOCKER_E2E: true

  test-macos:
    name: Test MacOS
    runs-on: [macos-latest]
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Test kyaml
        run: go test -cover ./...
        working-directory: ./kyaml

      - name: Test api
        run: go test -cover ./... -ldflags "-X sigs.k8s.io/kustomize/api/provenance.version=v444.333.222"
        working-directory: ./api

      - name: Test cmd/config
        run: go test -cover ./...
        working-directory: ./cmd/config
        env:
          KUSTOMIZE_DOCKER_E2E: false # docker not installed on mac

  test-windows:
    name: Test Windows
    runs-on: [windows-latest]
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Test kyaml
        run: go test -cover ./...
        working-directory: ./kyaml

      # TODO: uncomment once Windows tests are passing.
      # - name: Test api
      #   run: go test -cover ./... -ldflags "-X sigs.k8s.io/kustomize/api/provenance.version=v444.333.222"
      #   working-directory: ./api

      - name: Test cmd/config
        run: go test -cover ./...
        working-directory: ./cmd/config
        env:
          KUSTOMIZE_DOCKER_E2E: false # docker on windows not working well yet
